crewai
langchain
langchain-community
faiss-cpu
pypdf
ollama
openai
python-dotenv
sentence-transformers
langchain-ollama
langchain-huggingface
crewai
crewai-tools
litellm
fastapi
apscheduler
email_validator
fastapi_sso
